<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="3D GeoInfo conference 2018">
  <meta name="keywords" content="3D GeoInfo 2018, conference">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


  <link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/assets/css/mine.css" | prepend: site.baseurl }}" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
