<!DOCTYPE html>
<html>

  {% include head_3dgi18.html %}

  <body>

  {% include header_3dgi18.html %}
  <div class="jumbotron" style="background-image: url(img/mesh.png); background-size: 100%; background-repeat: no-repeat; background-position: center bottom;">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-md-6 col-sm-8">
	      	<img src="img/logo.png" />
	      	<div style="height: 10vw;"></div>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
				  <a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="img/tud-3dgeoinfo-black.png" /></a><br />
				  <br />
				  <a href="https://www.utwente.nl"><img class="img-responsive" src="img/utwente.png" /></a><br />
				  <br />
				  <a href="http://www.eurosdr.net"><img class="img-responsive" src="img/eurosdr.jpg" /></a><br />
				  <br />
				  <a href="https://erc.europa.eu"><img class="img-responsive" src="img/erc.jpg" /></a><br />
				  <br />
				  <a href="https://erc.europa.eu"><img class="img-responsive" src="img/volta.jpg" /></a><br />
				  <br />
			  </div>
        <div class="col-md-7 col-sm-8">
          {{ content }}
        </div>
        <div class="col-md-3 col-sm-4">
			    <div class="alert alert-info">
			      <h4>Important dates</h4>
			      <br />


			      <s>May 1, 2018</s><br />
			      <b>May 15, 2018</b><br />
			      <ul>
			      	<li>Full paper submission</li>
			      </ul><br />

			      <b>May 31, 2018</b><br />
			      <ul>
			      	<li>Abstract submission</li>
			      </ul><br />

			      <b>June 15, 2018</b><br />
			      <ul>
			      	<li>Author notification</li>
			      </ul><br />

			      <b>July 15, 2018</b><br />
			      <ul>
			      	<li>Final version of papers due</li>
			      	<li>Stand-alone presentation submission</li>
			      	<li>Early registration ends</li>
			      </ul><br />

						<b>September 30, 2018</b><br />
			      <ul>
			      	<li><a style="color: white;" href="programme.html#workshop">Pre-conference workshop</a></li>
			      </ul><br />

			      <b>October 1-2, 2018</b><br />
			      <ul>
			      	<li>Conference</li>
			      </ul><br />

			      <p class="text-white"><strong><a style="color: white;" href="Call.pdf">Conference flyer (PDF)</a></strong></p>
			    </div>
			    <div class="visible-xs-block visible-sm-block">
	          <div class="col-sm-12 col-xs-4"><a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="img/tud-3dgeoinfo-black.png" /></a></div>
	          <div class="col-sm-12 col-xs-4"><a href="https://www.utwente.nl"><img class="img-responsive" src="img/utwente.png" /></a></div>
	          <div class="col-sm-12 col-xs-4"><a href="http://www.eurosdr.net"><img class="img-responsive" src="img/eurosdr.jpg" /></a></div>
	        </div>
			  </div>
      </div>
    </div>
  {% include footer_3dgi18.html %}
  </body>
</html>